.version.index /* version checker */
{
	color: #000016;
	background-color: #001CE8;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 1033px;
	background-image: none;
	border-style: none;
	border-color: #6B6B6B;
	background-color: #000000;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
}

.Style
{
	border-style: none;
	border-color: #6B6B6B;
	background-color: #000000;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
}

#widgetu269
{
	z-index: 20;
	width: 0.01px;
	height: 710px;
	position: relative;
	margin-right: -10000px;
	margin-top: 195px;
	left: 94px;
}

#widgetu270
{
	z-index: 21;
	width: 382px;
	height: 166px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 544px;
}

#widgetu270.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 544px -10000px 0px 0px;
}

#u272-3
{
	z-index: 22;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #6B6B6B;
	line-height: 14px;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 46px;
}

#widgetu270.fld-err-st #u272-3
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u273-4
{
	z-index: 25;
	width: 370px;
	min-height: 67px;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	color: #C4C4C4;
	font-size: 25px;
	line-height: 65px;
	text-align: left;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 86px;
	padding: 6px 6px 7px;
}

#widgetu270.non-empty-st #u273-4
{
	background-color: #FFFFFF;
}

#widgetu270:hover #u273-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 7px;
	min-height: 67px;
	margin: 86px -10000px 0px 0px;
}

#widgetu270.focus-st #u273-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 7px;
	min-height: 67px;
	margin: 86px -10000px 0px 0px;
}

#widgetu270.fld-err-st #u273-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 7px;
	min-height: 67px;
	margin: 86px -10000px 0px 0px;
}

#widgetu270.non-empty-st #u273-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu270:hover #u273-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu270.focus-st #u273-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu274
{
	z-index: 29;
	width: 385px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 603px;
	left: 420px;
}

#widgetu274.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 603px -10000px 0px 0px;
}

#u277-3
{
	z-index: 30;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #6B6B6B;
	line-height: 14px;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu274.fld-err-st #u277-3
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#widgetu270.fld-err-st #u272-3 p,#widgetu270.fld-err-st #u272-3 span,#widgetu274.fld-err-st #u277-3 p,#widgetu274.fld-err-st #u277-3 span
{
	color: #D7244C;
}

#u275-4
{
	z-index: 33;
	width: 370px;
	min-height: 67px;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	color: #C4C4C4;
	font-size: 25px;
	line-height: 65px;
	text-align: left;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 3px;
	padding: 6px 6px 7px;
}

#widgetu274.non-empty-st #u275-4
{
	background-color: #FFFFFF;
}

#widgetu274:hover #u275-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 7px;
	min-height: 67px;
	margin: 27px -10000px 0px 0px;
}

#widgetu274.focus-st #u275-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 7px;
	min-height: 67px;
	margin: 27px -10000px 0px 0px;
}

#widgetu274.fld-err-st #u275-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 7px;
	min-height: 67px;
	margin: 27px -10000px 0px 0px;
}

#widgetu274.non-empty-st #u275-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu274:hover #u275-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu274.focus-st #u275-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu270.fld-err-st #u273-4 *,#widgetu274.fld-err-st #u275-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu270_input,#widgetu270_prompt,#widgetu274_input,#widgetu274_prompt
{
	width: 370px;
	min-height: 67px;
	color: #C4C4C4;
	text-align: left;
	font-family: bebas-neue, sans-serif;
	font-size: 25px;
	font-weight: 400;
	padding: 6px 6px 7px;
}

#widgetu270.focus-st #widgetu270_prompt,#widgetu274.focus-st #widgetu274_prompt
{
	padding-top: 6px;
	padding-bottom: 7px;
	visibility: hidden;
}

#widgetu270:hover #widgetu270_input,#widgetu270.focus-st #widgetu270_input,#widgetu270.fld-err-st #widgetu270_input,#widgetu270:hover #widgetu270_prompt,#widgetu270.fld-err-st #widgetu270_prompt,#widgetu274:hover #widgetu274_input,#widgetu274.focus-st #widgetu274_input,#widgetu274.fld-err-st #widgetu274_input,#widgetu274:hover #widgetu274_prompt,#widgetu274.fld-err-st #widgetu274_prompt
{
	padding-top: 6px;
	padding-bottom: 7px;
}

#widgetu270.non-empty-st #widgetu270_prompt,#widgetu274.non-empty-st #widgetu274_prompt
{
	visibility: hidden;
}

#u278-4
{
	z-index: 37;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 825px;
}

#widgetu269.frm-sub-st #u278-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u284-3
{
	z-index: 41;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 825px;
}

#widgetu269.frm-subm-err-st #u284-3 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u279-4
{
	z-index: 44;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00FF00;
	font-size: 12px;
	line-height: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 825px;
}

#widgetu269.frm-sub-st #u278-4,#widgetu269.frm-subm-err-st #u284-3,#widgetu269.frm-subm-ok-st #u279-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu269.frm-subm-ok-st #u279-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u285-21
{
	z-index: 48;
	min-height: 81px;
	width: 227px;
	position: relative;
	margin-right: -10000px;
	margin-top: 629px;
	left: 861px;
	background: url("../images/u285-21.png") no-repeat 0px 0px;
}

#u285-21:hover
{
	background: url("../images/u285-21-r.png") no-repeat 0px 0px;
}

#u285-21:active
{
	background: url("../images/u285-21-m.png") no-repeat 0px 0px;
}

#widgetu269.frm-sub-st #u285-21
{
	background: url("../images/u285-21-fs.png") no-repeat 0px 0px;
}

#pu75-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 152px;
}

#u75-4
{
	z-index: 2;
	display: block;
	vertical-align: top;
	margin-left: 162px;
	position: relative;
}

#pu77-4
{
	width: 0.01px;
}

#u77-4
{
	z-index: 6;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 239px;
	left: 351px;
}

#u117
{
	z-index: 10;
	width: 111px;
	position: relative;
	margin-right: -10000px;
	margin-top: 230px;
	left: 432px;
}

#u147-7
{
	z-index: 13;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

.js #u75-4.ose_pre_init,.js #u147-7.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u291-3
{
	z-index: 69;
	width: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 447px;
}

#untitled
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 323px;
	left: 472px;
}

#untitled2
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 270px;
	left: 472px;
}

#u140
{
	z-index: 12;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background: #00ADEF url("../images/bottom.png") no-repeat right bottom;
	background-size: cover;
}

#u140_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1279px;
	position: relative;
	left: -100px;
}

#pu302
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 247px;
	margin-left: 514px;
}

#u302
{
	z-index: 78;
	width: 145px;
	height: 37px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: relative;
}

#u292-4
{
	z-index: 72;
	display: block;
	vertical-align: top;
	margin-left: 118px;
	margin-top: 22px;
	position: relative;
}

#u303
{
	z-index: 79;
	width: 59px;
	height: 54px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: relative;
	margin-right: -10000px;
	margin-top: 239px;
	left: 914px;
}

#u140-bw
{
	z-index: 12;
	margin-bottom: -70px;
	margin-top: 747px;
	height: 356px;
}

body
{
	position: relative;
	min-width: 1280px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -746px;
}

